body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.main-button {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #0a6ed8;
  color: #ffffff;
  font-size: 24px;
  font: ariel;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.main-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}


.section {
  margin-top: 30px;
}

.section-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.section-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-top: 50px;
}
